@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CalSans";
  src: url("/fonts/CalSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bg-animate {
  background-image: linear-gradient(
    to right,
    black,
    rgb(31, 37, 53),
    rgb(33, 49, 104),
    rgb(25, 61, 140),
    #1681c4,
    #12b891,
    #0fd637,
    #2ce90b,
    #e9ed0e,
    #f0b80e,
    #ec3907,
    #ff0000,
    #ed0e0e,
    #9f123c,
    #3f0a31,
    #280418,
    black
  );
  background-size: 500% 100%;
  animation: bgChange 20s ease-in-out infinite;
  font-size: 8rem;
  line-height: 1;
  color: transparent;
  background-clip: text;
  margin-left: 13px;
}

@keyframes bgChange {
  0% {
    background-position: 0% 0%, 100% 0%, 200% 0%, 300% 0%, 400% 0%;
  }
  20% {
    background-position: -100% 0%, 0% 0%, 100% 0%, 200% 0%, 300% 0%;
  }
  40% {
    background-position: -200% 0%, -100% 0%, 0% 0%, 100% 0%, 200% 0%;
  }
  60% {
    background-position: -300% 0%, -200% 0%, -100% 0%, 0% 0%, 100% 0%;
  }
  80% {
    background-position: -400% 0%, -300% 0%, -200% 0%, -100% 0%, 0% 0%;
  }
  100% {
    background-position: -500% 0%, -400% 0%, -300% 0%, -200% 0%, -100% 0%;
  }
}
